@import '~@angular/material/theming';

@function mtx-color($color, $hue) {
    @return mat-color($color, $hue);
}

@function mtx-contrast($color, $hue) {
    @return mat-contrast($color, $hue);
}

@function mtx-contrast-secondary($color, $hue: 500) {
    @return if(mtx-contrast($color, $hue)==$dark-primary-text, $dark-secondary-text, $light-secondary-text);
}

@function mtx-low-contrast($contrast) {
    @if $contrast == $dark-primary-text { @return $dark-secondary-text; }
    @if $contrast == $light-primary-text { @return $light-secondary-text; }
    @return $contrast;
}

@function mtx-background-hue($is-dark-theme) {
    @return if($is-dark-theme, 900, 50);
}

@function mtx-background($color, $is-dark-theme, $hue: mtx-background-hue($is-dark-theme) ) {
    @return mtx-color($color, $hue);
}

$mtx-colors: (
    mtx-red: $mat-red,
    mtx-pink: $mat-pink,
    mtx-purple: $mat-purple,
    mtx-deep-purple: $mat-deep-purple,
    mtx-indigo: $mat-indigo,
    mtx-blue: $mat-blue,
    mtx-light-blue: $mat-light-blue,
    mtx-cyan: $mat-cyan,
    mtx-teal: $mat-teal,
    mtx-green: $mat-green,
    mtx-light-green: $mat-light-green,
    mtx-lime: $mat-lime,
    mtx-yellow: $mat-yellow,
    mtx-amber: $mat-amber,
    mtx-orange: $mat-orange,
    mtx-deep-orange: $mat-deep-orange,
    mtx-brown: $mat-brown,
    mtx-gray: $mat-gray,
    mtx-blue-gray: $mat-blue-gray,
);

.mtx-white { background-color: white !important; color: $dark-primary-text !important; }
.mtx-white-text { color: white !important; }
.mtx-black { background-color: black !important; color: $light-primary-text !important; }
.mtx-black-text { color: black !important; }

.mtx-light, .mtx-light-secondary { background-color: map-get($mat-light-theme-background, background) !important; }
.mtx-light { color: $dark-primary-text !important; }
.mtx-light-secondary { color: $dark-secondary-text !important; }

.mtx-dark, .mtx-dark-secondary { background-color: map-get($mat-dark-theme-background, background) !important; }
.mtx-dark { color: $light-primary-text !important; }
.mtx-dark-secondary { color: $light-secondary-text !important; }

@each $color-key, $color-value in $mtx-colors {
    $mtx-color: map-get($mtx-colors, $color-key);
    .#{$color-key} {
        background-color: mtx-color($mtx-color, 500) !important;
        color: mtx-contrast($mtx-color, 500) !important;
    }
    .#{$color-key}-text {
        color: mtx-color($mtx-color, 500) !important;
    }

    @each $key, $value in $mtx-color {
        @if $key != contrast {
            .#{$color-key}-#{$key} {
                background-color: mtx-color($mtx-color, $key) !important;
                color: mtx-contrast($mtx-color, $key) !important;
            }
            .#{$color-key}-#{$key}-text {
                color: mtx-color($mtx-color, $key) !important;
            }
        }
    }

}

@mixin mat-ex-theme($theme) {
    
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mtx-primary { background-color: mtx-color($primary, default) !important; color: mtx-color($primary, default-contrast) !important; }
    .mtx-primary-text { color: mtx-color($primary, default) !important; }
    .mtx-primary-contrast-text { color: mtx-color($primary, default-contrast) !important; }
    .mtx-primary-low-contrast-text { color: mtx-low-contrast(mtx-color($primary, default-contrast)) !important; }
    .mtx-primary-dark { background-color: mtx-color($primary, darker) !important; color: mtx-color($primary, darker-contrast) !important; }
    .mtx-primary-dark-text { color: mtx-color($primary, darker) !important; }
    .mtx-primary-dark-contrast-text { color: mtx-color($primary, darker-contrast) !important; }
    .mtx-primary-dark-low-contrast-text { color: mtx-low-contrast(mtx-color($primary, darker-contrast)) !important; }
    .mtx-primary-light { background-color: mtx-color($primary, lighter) !important; color: mtx-color($primary, lighter-contrast) !important; }
    .mtx-primary-light-text { color: mtx-color($primary, lighter) !important; }
    .mtx-primary-light-contrast-text { color: mtx-color($primary, lighter-contrast) !important; }
    .mtx-primary-light-low-contrast-text { color: mtx-low-contrast(mtx-color($primary, lighter-contrast)) !important; }
    
    .mtx-accent { background-color: mtx-color($accent, default) !important; color: mtx-color($accent, default-contrast) !important; }        
    .mtx-accent-secondary { background-color: mtx-color($accent, default) !important; color: mtx-contrast-secondary($accent) !important; }    
    .mtx-accent-text { color: mtx-color($accent, default) !important; }
    .mtx-accent-contrast-text { color: mtx-color($accent, default-contrast) !important; }
    .mtx-accent-low-contrast-text { color: mtx-low-contrast(mtx-color($accent, default-contrast)) !important; }
    .mtx-accent-dark { background-color: mtx-color($accent, darker) !important; color: mtx-color($accent, darker-contrast) !important; }        
    .mtx-accent-dark-text { color: mtx-color($accent, darker) !important; }
    .mtx-accent-dark-contrast-text { color: mtx-color($accent, darker-contrast) !important; }
    .mtx-accent-dark-low-contrast-text { color: mtx-low-contrast(mtx-color($accent, darker-contrast)) !important; }
    .mtx-accent-light { background-color: mtx-color($accent, lighter) !important; color: mtx-color($accent, lighter-contrast) !important; }        
    .mtx-accent-light-text { color: mtx-color($accent, lighter) !important; }
    .mtx-accent-light-contrast-text { color: mtx-color($accent, lighter-contrast) !important; }
    .mtx-accent-light-low-contrast-text { color: mtx-low-contrast(mtx-color($accent, lighter-contrast)) !important; }

    .mtx-warn { background-color: mtx-color($warn, default) !important; color: mtx-color($warn, default-contrast) !important; }        
    .mtx-warn-text { color: mtx-color($warn, default) !important; }
    .mtx-warn-contrast-text { color: mtx-color($warn, default-contrast) !important; }
    .mtx-warn-low-contrast-text { color: mtx-low-contrast(mtx-color($warn, default-contrast)) !important; }
    .mtx-warn-dark { background-color: mtx-color($warn, darker) !important; color: mtx-color($warn, darker-contrast) !important; }        
    .mtx-warn-dark-text { color: mtx-color($warn, darker) !important; }
    .mtx-warn-dark-contrast-text { color: mtx-color($warn, darker-contrast) !important; }
    .mtx-warn-dark-low-contrast-text { color: mtx-low-contrast(mtx-color($warn, darker-contrast)) !important; }
    .mtx-warn-light { background-color: mtx-color($warn, lighter) !important; color: mtx-color($warn, lighter-contrast) !important; }        
    .mtx-warn-light-text { color: mtx-color($warn, lighter) !important; }
    .mtx-warn-light-contrast-text { color: mtx-color($warn, lighter-contrast) !important; }
    .mtx-warn-light-low-contrast-text { color: mtx-low-contrast(mtx-color($warn, lighter-contrast)) !important; }

    .mtx-card { 
        background-color: map-get($background, card); 
        color: map-get($foreground, text);
        border-color: map-get($foreground, divider);
    }
    
    .mtx-page { 
        color: map-get($foreground, text);

        background-color: map-get($background, background); 
        &.mtx-primary { background-color: mtx-background($primary, $is-dark-theme); }
        &.mtx-accent { background-color: mtx-background($accent, $is-dark-theme); }
        &.mtx-warn { background-color: mtx-background($warn, $is-dark-theme); }
        &.mtx-light { background-color: map-get($mat-light-theme-background, background); }
        &.mtx-dark { background-color: map-get($mat-dark-theme-background, background); }
        &.mtx-red { background-color: mtx-background($mat-red, $is-dark-theme); }
        &.mtx-pink { background-color: mtx-background($mat-pink, $is-dark-theme); }
        &.mtx-purple { background-color: mtx-background($mat-purple, $is-dark-theme); }
        &.mtx-deep-purple { background-color: mtx-background($mat-deep-purple, $is-dark-theme); }
        &.mtx-indigo { background-color: mtx-background($mat-indigo, $is-dark-theme); }
        &.mtx-blue { background-color: mtx-background($mat-blue, $is-dark-theme); }
        &.mtx-light-blue { background-color: mtx-background($mat-light-blue, $is-dark-theme); }
        &.mtx-cyan { background-color: mtx-background($mat-cyan, $is-dark-theme); }
        &.mtx-teal { background-color: mtx-background($mat-teal, $is-dark-theme); }
        &.mtx-green { background-color: mtx-background($mat-green, $is-dark-theme); }
        &.mtx-light-green { background-color: mtx-background($mat-light-green, $is-dark-theme); }
        &.mtx-lime { background-color: mtx-background($mat-lime, $is-dark-theme); }
        &.mtx-yellow { background-color: mtx-background($mat-yellow, $is-dark-theme); }
        &.mtx-amber { background-color: mtx-background($mat-amber, $is-dark-theme); }
        &.mtx-orange { background-color: mtx-background($mat-orange, $is-dark-theme); }
        &.mtx-deep-orange { background-color: mtx-background($mat-deep-orange, $is-dark-theme); }
        &.mtx-brown { background-color: mtx-background($mat-brown, $is-dark-theme); }
        &.mtx-gray { background-color: mtx-background($mat-gray, $is-dark-theme); }
        &.mtx-blue-gray { background-color: mtx-background($mat-blue-gray, $is-dark-theme); }
    }
}


.mtx-dark-primary-text { color: $dark-primary-text }
.mtx-dark-secondary-text { color: $dark-secondary-text }
.mtx-dark-disabled-text { color: $dark-disabled-text }
.mtx-light-primary-text { color: $light-primary-text }
.mtx-light-secondary-text { color: $light-secondary-text }
.mtx-light-disabled-text { color: $light-disabled-text }
