<mtx-page page-title="Dialog | Material Extentions"
    description="Reusable UI component for mobile and desktop Angular web applications">

    <mtx-page-header>
        <mtx-app-bar color="primary" nav="back" title="Dialog"></mtx-app-bar>
    </mtx-page-header>

    <mtx-page-content>

        <mtx-dialog dialogTitle="Title" color="primary">I'm a Dialog
            <mtx-dialog-actions>
                <button mat-button>Cancel</button>
                <button mat-button>Submit</button>
            </mtx-dialog-actions>
        </mtx-dialog>
        <div style="display: flex; flex-direction: column; flex: 1;"></div>
        <app-footer-section style="margin-top:32px"></app-footer-section>

    </mtx-page-content>

</mtx-page>