<div class="row" style="align-items: center; justify-content: space-between; margin-bottom: 12px;">
    <h2>Components</h2>
    <a mat-button style="margin-right: -16px;">View all</a>
</div>
<div class="row-fill" style="overflow-x: overlay;">
    <mat-card style="min-width: 240px; height: 180px; box-sizing: border-box;">
        <button mat-button routerLink="/mtx-app-bar">Mtx App Bar</button>
    </mat-card>
    <mat-card style="min-width: 240px; height: 180px; box-sizing: border-box;">
        <button mat-button routerLink="/mtx-bottom-nav">Mtx Bottom Nav</button>
    </mat-card>
    <mat-card style="min-width: 240px; height: 180px; box-sizing: border-box;">
        <button mat-button routerLink="/mtx-page">Mtx Page</button>
    </mat-card>
</div>
