<div class="row" style="align-items: center; justify-content: space-between; margin-bottom: 12px;">
    <h2>Components</h2>
    <a mat-button style="margin-right: -16px;">View all</a>
</div>
<mtx-scrollview class="mtx-page-full-width">
    <home-scrollview-card class="mtx-scrollview-item" value="App Bar" info="mtx-app-bar" colorClass="mtx-indigo-50" routerLink="/mtx-app-bar"></home-scrollview-card>
    <home-scrollview-card class="mtx-scrollview-item" value="Dialog" info="mtx-dialog" colorClass="mtx-blue-50" routerLink="/mtx-dialog"></home-scrollview-card>
    <home-scrollview-card class="mtx-scrollview-item" value="Icons" info="mtx-icon" colorClass="mtx-light-blue-50" routerLink="/mtx-icon"></home-scrollview-card>
    <home-scrollview-card class="mtx-scrollview-item" value="Navigation" info="mtx-nav" colorClass="mtx-cyan-50" routerLink="/mtx-bottom-nav"></home-scrollview-card>
    <home-scrollview-card class="mtx-scrollview-item" value="Page Layout" info="mtx-page" colorClass="mtx-teal-50" routerLink="/mtx-page"></home-scrollview-card>
    <home-scrollview-card class="mtx-scrollview-item" value="Scrollview" info="mtx-scrollview" colorClass="mtx-green-50" routerLink="/mtx-scrollview"></home-scrollview-card>
</mtx-scrollview>
