<mtx-page page-title="Toolbar | Material Extentions"
    description="Reusable UI component for mobile and desktop Angular web applications">

        <mtx-app-bar class="mtx-primary" nav="back" app-bar-title="Mtx Toolbar"></mtx-app-bar>

        <p><code>&lt;mtx-toolbar&gt;</code> is a container for headers, titles, or actions.</p>

        <h3>Interactive demo</h3>

        <p>This demo lets you preview the mtx-toolbar component, its variations, and
            configuration options. Each tab displays a different type of Toolbar.</p>

            <mtx-toolbar class="mtx-primary mtx-page-full-width mtx-page-padding" icon="home">
                <mtx-subtitle>ghj</mtx-subtitle>
            </mtx-toolbar>

        <!-- <ng-container *ngTemplateOutlet="InteractiveDemo"></ng-container> -->
        <app-footer-section class="mtx-page-full-width" style="margin-bottom: -32px;"></app-footer-section>

</mtx-page>
