.mtx-label { line-height: 24px; }
.mtx-paragraph { line-height: 24px; }
.colors-table { 
    .title { flex: 1; min-width: 96px; align-items: flex-start;}
    .attribute { flex: 2; min-width: 192px; align-items: flex-start;}
}
