<mtx-page page-title="Color | Material Extentions"
    description="Reusable UI component for mobile and desktop Angular web applications">

    <mtx-app-bar class="mtx-primary" nav="back" app-bar-title="Mtx Color"></mtx-app-bar>

    <mtx-column style="margin: 16px 0;">
        <mtx-headline>Mtx Color</mtx-headline>
        <mtx-caption class="mtx-dark-secondary-text">MtxColorModule</mtx-caption>
    </mtx-column>

    <mtx-paragraph style="margin: 16px 0; max-width: 800px;">
        MtxColor classes enables you to customize components to better reflect your product's brand.
        A MtxColor class consists of configurations for the individual color and typography systems in
        Material Extensions. The library's approach to colors reflects the guidance from the Material
        Design specifications.
    </mtx-paragraph>

    <mtx-stroked-card class="colors-table mtx-light" style="margin: 32px 0; max-width: 800px; overflow: hidden;">
        <mtx-toolbar>
            <mtx-subtitle class="mtx-dark-secondary-text">Color Classes</mtx-subtitle>
        </mtx-toolbar>
        <mat-divider></mat-divider>
        <mtx-column style="padding: 16px;">
            <ng-container *ngFor="let entry of attributes; let i = index">
                <mtx-row>
                    <mtx-column style="width: 96px; min-width: 40px; height: 40px; margin: 8px 8px 8px 16px; justify-content: center;">
                        <mtx-paragraph>{{entry.title}}</mtx-paragraph>
                    </mtx-column>
                    <mtx-row style="flex: 1; flex-wrap: wrap;">
                        <mtx-column class="center" [class]="entry.color"
                            style="margin: 8px 8px; width: 144px; height: 40px; border-radius: 4px; border: 1px solid #00000040;">
                            <mtx-label>{{entry.color}}</mtx-label>
                        </mtx-column>
                        <mtx-column class="center" [class]="entry.forecolor"
                            style="margin: 8px 8px; width: 144px; height: 40px; border-radius: 4px; border: 1px solid #00000040;">
                            <mtx-label>{{entry.forecolor}}</mtx-label>
                        </mtx-column>
                    </mtx-row>
                    <button mat-icon-button style="margin: 8px 0;">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </mtx-row>
                <mat-divider *ngIf="i!=attributes.length-1"></mat-divider>
            </ng-container>
        </mtx-column>
    </mtx-stroked-card>

    <app-footer-section style="margin-top: 32px;"></app-footer-section>

</mtx-page>