<mtx-prime-toolbar class="mtx-dark-secondary-text" style="padding: 0;">
    <mtx-headline>Utilities</mtx-headline>
    <a mat-button class="mtx-toolbar-action" style="margin-right: -16px;">View all</a>
</mtx-prime-toolbar>
<mtx-scrollview class="mtx-page-full-width">
    <home-scrollview-card class="mtx-scrollview-item" value="Colors" info="mtx-color" colorClass="mtx-red-50" routerLink="/mtx-color"></home-scrollview-card>
    <!-- <home-scrollview-card class="mtx-scrollview-item" value="Containers" info="mtx-container" colorClass="mtx-pink-50" routerLink="/mtx-container"></home-scrollview-card> -->
    <home-scrollview-card class="mtx-scrollview-item" value="Text" info="mtx-text" colorClass="mtx-purple-50" routerLink="/mtx-text"></home-scrollview-card>
</mtx-scrollview>
