<mtx-prime-toolbar class="mtx-dark-secondary-text" style="padding: 0;">
    <mtx-headline>Utilities</mtx-headline>
    <a mat-button class="mtx-toolbar-action" style="margin-right: -16px;">View all</a>
</mtx-prime-toolbar>
<mtx-scrollview class="mtx-page-full-width">
    <mat-card class="mtx-scrollview-item" style="padding: 0;" routerLink="/mtx-text">
        <mtx-column class="mtx-blue-50" style="width: 160px; height: 160px;"></mtx-column>
        <mtx-prime-toolbar>
            <mtx-column>
                <mtx-title>Text</mtx-title>
                <mtx-label class="mtx-dark-secondary-text">MtxTextModule</mtx-label>
            </mtx-column>
        </mtx-prime-toolbar>
    </mat-card>
    <mat-card class="mtx-scrollview-item" style="padding: 0;" routerLink="/mtx-color">
        <mtx-column class="mtx-blue-50" style="width: 160px; height: 160px;"></mtx-column>
        <mtx-prime-toolbar>
            <mtx-column>
                <mtx-title>Color</mtx-title>
                <mtx-label class="mtx-dark-secondary-text">MtxColorModule</mtx-label>
            </mtx-column>
        </mtx-prime-toolbar>
    </mat-card>
</mtx-scrollview>

<mtx-toolbar>
    <mtx-label>test hgf jhj hg  kj kjgdhf hg jhk jhgjgfhfjhg kj hk kjhkjjf gfdghf dhgjhfhjgkjj hkj hkjhkjhkjhkjh kjhjh kj kj hhjgh</mtx-label>
    <mtx-label class="mtx-toolbar-action">test </mtx-label>
</mtx-toolbar>