<mtx-prime-toolbar style="padding: 0;">
    <mtx-headline class="mtx-dark-secondary-text">Utilities</mtx-headline>
    <a mat-button class="mtx-toolbar-action" style="margin-right: -16px;">View all</a>
</mtx-prime-toolbar>
<mtx-scrollview class="mtx-page-full-width">
    <mat-card class="mtx-scrollview-item" style="padding: 0;" routerLink="/mtx-text">
        <mtx-column class="mtx-blue-50" style="width: 160px; height: 160px;"></mtx-column>
        <mtx-prime-toolbar>
            <mtx-column>
                <mtx-title>Text</mtx-title>
                <mtx-label class="mtx-dark-secondary-text">mtx-text</mtx-label>
            </mtx-column>
        </mtx-prime-toolbar>
    </mat-card>
</mtx-scrollview>