<mtx-page>
    <mtx-page-header>
        <mtx-app-bar class="mtx-primary" nav="back">
            <mtx-app-bar-title>Page</mtx-app-bar-title>
        </mtx-app-bar>
    </mtx-page-header>

    <mtx-page-content>
        <div class="mat-elevation-z4" style="height: 480px; width: 320px;">
            <mtx-page>
                <mtx-page-header>
                    <mtx-app-bar color="primary" nav="back">
                        <mtx-app-bar-title>Page</mtx-app-bar-title>
                    </mtx-app-bar>
                </mtx-page-header>

                <mtx-page-footer>
                    <mtx-bottom-nav color="primary">
                        <mtx-bottom-nav-item icon="home">Home</mtx-bottom-nav-item>
                        <mtx-bottom-nav-item icon="dashboard">Dashboard</mtx-bottom-nav-item>
                        <mtx-bottom-nav-item icon="feedback">Feedback</mtx-bottom-nav-item>
                    </mtx-bottom-nav>
                </mtx-page-footer>

                <mtx-page-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum mi vel mi rutrum, sit amet
                        hendrerit risus cursus. Maecenas pretium tincidunt diam id tempor. Proin dignissim bibendum
                        pharetra. Mauris euismod, ligula vitae pellentesque dignissim, risus erat luctus velit, in
                        mollis odio mi id dui. Maecenas iaculis a odio a tristique. Morbi magna lacus, tincidunt nec
                        efficitur luctus, dictum quis risus. Phasellus pretium, nunc porta vestibulum fringilla, magna
                        nunc pharetra libero, non maximus velit nisi quis odio.
                    </p>

                    <p>
                        Aenean eleifend velit arcu, a cursus justo mattis vel. Morbi in pulvinar leo. Etiam semper ante
                        ac vulputate dictum. Sed sit amet felis velit. Mauris ut lacus venenatis, mattis mi ut, egestas
                        velit. Vestibulum bibendum id erat non aliquam. Pellentesque hendrerit erat enim, ut placerat
                        ante volutpat commodo. Donec sed scelerisque ipsum. Nulla porttitor egestas nibh, eu dignissim
                        sem mattis in. Phasellus elementum maximus risus, in eleifend mauris aliquet et. Nulla augue
                        dolor, ultricies rutrum sodales condimentum, semper et enim. Cras ac urna sed lorem convallis
                        consequat nec at libero. Aenean tellus nibh, malesuada eget ex vitae, congue vestibulum tortor.
                        Integer vitae magna euismod, viverra lectus at, rutrum enim.
                    </p>

                    <p style="margin: 0;">
                        Nulla id euismod odio. Proin elementum, mi vitae vestibulum ornare, erat diam convallis lacus,
                        at facilisis risus arcu ut tellus. Mauris quis ex non libero tincidunt efficitur. Suspendisse
                        mollis vitae dolor ac accumsan. Donec scelerisque nisi finibus felis vulputate, quis consequat
                        mauris mollis. Cras commodo nibh eu velit efficitur, ut viverra nisl tempus. Etiam vel tempus
                        ex. Aenean fringilla purus nec lorem vestibulum tristique. Nullam id sagittis augue.
                        Pellentesque elementum augue sed viverra pellentesque. Nam nec bibendum nunc, at ullamcorper
                        diam. Curabitur eget arcu mollis, bibendum elit eget, ultrices nunc. Pellentesque habitant morbi
                        tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </mtx-page-content>
            </mtx-page>

        </div>
    </mtx-page-content>

</mtx-page>