<div class="row">
    <mtx-toolbar-button variant="raised" icon="check"></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" dropdown></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" text="Finish"></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" text="Finish" dropdown></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" color="primary"></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" vertical></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" text="Finish" dropdown vertical></mtx-toolbar-button>
    <mtx-toolbar-button variant="flat" icon="home" text="Dialog" (click)="onDialogOpen()"></mtx-toolbar-button>
</div>

<mtx-profile-photo size="large" text="T"></mtx-profile-photo>

<mtx-feature-bar [matMenu]="menu">
    <mtx-feature-bar-icon>person</mtx-feature-bar-icon>
    <mtx-feature-bar-title>Title</mtx-feature-bar-title>
    <mtx-profile-photo size="large"><mat-icon>person</mat-icon></mtx-profile-photo>
    <mtx-profile size="large">
        <mtx-profile-photo><mat-icon>person</mat-icon></mtx-profile-photo>
        <mtx-profile-title>Title</mtx-profile-title>
        <mtx-profile-subtitle>Subtitle</mtx-profile-subtitle>
    </mtx-profile>
</mtx-feature-bar>

<mtx-profile size="medium">
    <mtx-profile-photo><mat-icon>person</mat-icon></mtx-profile-photo>
    <mtx-profile-title>Title</mtx-profile-title>
    <mtx-profile-subtitle>Subtitle</mtx-profile-subtitle>
</mtx-profile>

<mat-menu #menu="matMenu"></mat-menu>

<div class="py-lg px-lg">
    <mtx-dialog variant="" color="white">
        <mtx-dialog-title>Delete all content?</mtx-dialog-title>
        <mtx-dialog-icon color="primary">cancel</mtx-dialog-icon>
        <mtx-dialog-content>
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
        </mtx-dialog-content>
        <mtx-dialog-actions>
            <button mat-button>Cancel</button>
            <button mat-button>Delete</button>
        </mtx-dialog-actions>
    </mtx-dialog>
</div>

