<div class="row">
    <mtx-toolbar-button variant="raised" icon="check"></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" dropdown></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" text="Finish"></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" text="Finish" dropdown></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" color="primary"></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" vertical></mtx-toolbar-button>
    <mtx-toolbar-button variant="raised" icon="check" text="Finish" dropdown vertical></mtx-toolbar-button>
    <mtx-toolbar-button variant="flat" icon="home" text="Dialog" (click)="onDialogOpen()"></mtx-toolbar-button>
</div>

<mtx-feature-bar [matMenu]="menu">
    <mtx-feature-bar-icon>person</mtx-feature-bar-icon>
    <mtx-feature-bar-title>Title</mtx-feature-bar-title>
    <mtx-profile-photo size="large"><mat-icon>person</mat-icon></mtx-profile-photo>
    <mtx-profile size="large">
        <!-- <mtx-profile-photo><img src="https://firebasestorage.googleapis.com/v0/b/quicklix-pro.appspot.com/o/profile-photos%2Fuu8Dw9HVTBMK2TteKrN6ANjFeME2.jpg?alt=media&token=2d9b00c4-cf04-4382-90a2-5b0859ec9669"></mtx-profile-photo> -->
        <mtx-profile-photo><mat-icon>person</mat-icon></mtx-profile-photo>
        <mtx-profile-title>Title</mtx-profile-title>
        <mtx-profile-subtitle>Subtitle</mtx-profile-subtitle>
    </mtx-profile>
</mtx-feature-bar>

<mtx-profile size="large">
    <!-- <mtx-profile-photo><img src="https://firebasestorage.googleapis.com/v0/b/quicklix-pro.appspot.com/o/profile-photos%2Fuu8Dw9HVTBMK2TteKrN6ANjFeME2.jpg?alt=media&token=2d9b00c4-cf04-4382-90a2-5b0859ec9669"></mtx-profile-photo> -->
    <mtx-profile-photo><mat-icon>person</mat-icon></mtx-profile-photo>
    <mtx-profile-title>Title</mtx-profile-title>
    <mtx-profile-subtitle>Subtitle</mtx-profile-subtitle>
</mtx-profile>

<mat-menu #menu="matMenu"></mat-menu>

<div class="py-lg px-lg">
    <mtx-dialog variant="" color="white">
        <mtx-dialog-title>Delete all content?</mtx-dialog-title>
        <mtx-dialog-icon color="primary">cancel</mtx-dialog-icon>
        <mtx-dialog-content>
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
            This will delete all elements that are currently on this page and cannot be undone.
        </mtx-dialog-content>
        <mtx-dialog-actions>
            <button mat-button>Cancel</button>
            <button mat-button>Delete</button>
        </mtx-dialog-actions>
    </mtx-dialog>
</div>

