<mtx-page page-title="Material Extentions UI Component Library"
    description="Reusable components that extend Angular Material">
    <mtx-page-header>
        <mtx-app-bar color="primary" nav="menu">
            <mtx-app-bar-title>Mat Ex</mtx-app-bar-title>
            <mtx-app-bar-button>
                <button mat-icon-button onclick="blur()" aria-label="Select a Theme" matTooltip="Select a Theme">
                    <mat-icon>format_color_fill</mat-icon>
                </button>
                <a mat-icon-button onclick="blur()" href="https://github.com/tsunilrao/mat-ex"
                    aria-label="GitHub Repository" matTooltip="GitHub Repository">
                    <img src="assets/github-logo.svg" alt="Github Logo" width="24" height="24" />
                </a>
            </mtx-app-bar-button>
        </mtx-app-bar>
    </mtx-page-header>

    <mtx-page-content>
        <home-hero-section class="mtx-page-full-width"></home-hero-section>
        <div class="mtx-page-full-width home-content">
            <home-features-section></home-features-section>
            <mat-divider></mat-divider>
            <home-components-section></home-components-section>
        </div>
        <mtx-row class="mtx-primary center mtx-page-full-width mat-elevation-z4"
            style="height: 100px; margin-bottom: -32px; width: unset;">
            <img src="assets/mat-ex-logo.svg" alt="MatEx Logo" width="40" height="40" />
            <span class="mat-body" style="margin-left: 32px;">Current Version: {{version}}</span>
        </mtx-row>
    </mtx-page-content>


</mtx-page>


<!-- <mtx-page>

    <mtx-page-header>
        <mtx-app-bar color="primary" size="prominent" nav="menu">
            <mtx-app-bar-title>
                A Little Brown Fox jumps over the fence
            </mtx-app-bar-title>
            <mtx-app-bar-button>
                <button mat-icon-button>
                    <mat-icon>person</mat-icon>
                </button>
            </mtx-app-bar-button>
            <mtx-app-bar-button>
                <button mat-icon-button>
                    <mat-icon>person</mat-icon>
                </button>
            </mtx-app-bar-button>
            <span>Test</span>
        </mtx-app-bar>
    </mtx-page-header>

    <mtx-page-footer>
        Test
    </mtx-page-footer>

    <mtx-page-content>



        <mtx-expansion>
            test
            <mtx-expansion-content>Test2</mtx-expansion-content>
        </mtx-expansion>


        <mtx-feature-bar [matMenu]="menu">


            <mtx-feature-bar-icon>person</mtx-feature-bar-icon>
            <mtx-feature-bar-title>Title</mtx-feature-bar-title>
            <mtx-profile-photo size="large">
                <mat-icon>person</mat-icon>
            </mtx-profile-photo>
            <mtx-profile size="large">
                <mtx-profile-photo>
                    <mat-icon>person</mat-icon>
                </mtx-profile-photo>
                <mtx-profile-title>Title</mtx-profile-title>
                <mtx-profile-subtitle>Subtitle</mtx-profile-subtitle>
            </mtx-profile>
        </mtx-feature-bar>

        <div class="row">
            <mtx-toolbar-button variant="raised" icon="check"></mtx-toolbar-button>
            <mtx-toolbar-button variant="raised" icon="check" dropdown></mtx-toolbar-button>
            <mtx-toolbar-button variant="raised" icon="check" text="Finish"></mtx-toolbar-button>
            <mtx-toolbar-button variant="raised" icon="check" text="Finish" dropdown></mtx-toolbar-button>
            <mtx-toolbar-button variant="raised" icon="check" color="primary"></mtx-toolbar-button>
            <mtx-toolbar-button variant="raised" icon="check" vertical></mtx-toolbar-button>
            <mtx-toolbar-button variant="raised" icon="check" text="Finish" dropdown vertical></mtx-toolbar-button>
            <mtx-toolbar-button variant="flat" icon="home" text="Dialog"></mtx-toolbar-button>
        </div>

        <button (click)="test.open()">test</button>

        <mtx-modal #test>
            <mtx-dialog variant="" color="white">
                <mtx-dialog-title>Delete all content?</mtx-dialog-title>
                <mtx-dialog-icon color="primary">cancel</mtx-dialog-icon>
                <mtx-dialog-content>
                    This will delete all elements that are currently on this page and cannot be undone.
                </mtx-dialog-content>
                <mtx-dialog-actions>
                    <button mat-button (click)="test.close()">Cancel</button>
                    <button mat-button>Delete</button>
                </mtx-dialog-actions>
            </mtx-dialog>
        </mtx-modal>

        <mtx-profile-photo size="large" text="T"></mtx-profile-photo>

        <mtx-profile size="medium">
            <mtx-profile-photo>
                <mat-icon>person</mat-icon>
            </mtx-profile-photo>
            <mtx-profile-title>Title</mtx-profile-title>
            <mtx-profile-subtitle>Subtitle</mtx-profile-subtitle>
        </mtx-profile>

        <mat-menu #menu="matMenu"></mat-menu>

        <mtx-modal>
            <mtx-dialog variant="" color="white">
                <mtx-dialog-title>Delete all content?</mtx-dialog-title>
                <mtx-dialog-icon color="primary">cancel</mtx-dialog-icon>
                <mtx-dialog-content>
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                    This will delete all elements that are currently on this page and cannot be undone.
                </mtx-dialog-content>
                <mtx-dialog-actions>
                    <button mat-button>Cancel</button>
                    <button mat-button>Delete</button>
                </mtx-dialog-actions>
            </mtx-dialog>
        </mtx-modal>

    </mtx-page-content>

</mtx-page> -->