<mtx-page page-title="Material Extentions UI Component Library"
    description="Reusable components that extend Angular Material">

    <mtx-app-bar class="mtx-primary" nav="menu" app-bar-title="Mat Ex">
        <button mat-icon-button action onclick="blur()" aria-label="Select a Theme" matTooltip="Select a Theme">
            <mat-icon>format_color_fill</mat-icon>
        </button>
        <a mat-icon-button action onclick="blur()" href="https://github.com/tsunilrao/mat-ex"
            style="margin-right: -8px;" aria-label="GitHub Repository" matTooltip="GitHub Repository">
            <img src="assets/github-logo.svg" alt="Github Logo" width="24" height="24" />
        </a>
    </mtx-app-bar>

    <mtx-page-content style="padding: 0">
        <home-hero-section></home-hero-section>
        <mtx-column class="mtx-page-padding">
            <home-features-section class="home-content"></home-features-section>
            <mat-divider></mat-divider>
            <home-components-section class="home-content"></home-components-section>
            <mat-divider></mat-divider>
            <home-utilities-section class="home-content"></home-utilities-section>
        </mtx-column>
        <app-footer-section></app-footer-section>
    </mtx-page-content>
        
</mtx-page>