
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-ex-primary: mat-palette($mat-indigo);
$mat-ex-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mat-ex-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mat-ex-theme: mat-light-theme($mat-ex-primary, $mat-ex-accent, $mat-ex-warn);

$mat-ex-light: whitesmoke;
$mat-ex-white: white;

$mat-ex-text-dark: #212121;
$mat-ex-text-secondary: #757575;
$mat-ex-text-light: white;
$mat-ex-text-light-secondary: #ffffffc0;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mat-ex-theme);
@import '../projects/mat-ex/themes/mat-ex.theme.scss';
@include mat-ex-theme($mat-ex-theme);

/* You can add global styles to this file, and also import other style files */

.color-primary { background-color: mat-color($mat-ex-primary); color: $mat-ex-text-light; }
.color-accent { background-color: mat-color($mat-ex-accent); color: $mat-ex-text-light; }
.color-secondary { background-color: $mat-ex-text-secondary; color: $mat-ex-text-dark; }
.color-light { background-color: $mat-ex-light; color: $mat-ex-text-dark; }
.color-white { background-color: $mat-ex-white; color: $mat-ex-text-dark; }

.textcolor-primary  { color: mat-color($mat-ex-primary); }
.textcolor-accent  { color: mat-color($mat-ex-accent); }
.textcolor-warn  { color: mat-color($mat-ex-warn); }
.textcolor-dark  { color: $mat-ex-text-dark; }
.textcolor-light  { color: $mat-ex-text-light; }
.textcolor-secondary  { color: $mat-ex-text-secondary; }
.textcolor-light-secondary  { color: $mat-ex-text-light-secondary; }

.bordercolor-primary  { border-color: mat-color($mat-ex-primary); }
.bordercolor-accent  { border-color: mat-color($mat-ex-accent); }
.bordercolor-dark  { border-color: $mat-ex-text-dark; }
.bordercolor-light  { border-color: $mat-ex-text-light; }
.bordercolor-secondary  { border-color: $mat-ex-text-secondary; }
.bordercolor-light-secondary  { border-color: $mat-ex-text-light-secondary; }

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 320px;}

.mat-typography {
    p { font-size: 14px; font-weight: 400; line-height: 24px; margin-bottom: 24px; }
    h1 { font-size: 32px; font-weight: 500; margin: 24px 0; line-height: 48px; }
    h2 { font-size: 24px; font-weight: 500; margin: 16px 0; line-height: 32px; }
    h3 { font-size: 20px; font-weight: 500; margin: 16px 0; line-height: 28px; }
    h4 { font-size: 18px; font-weight: 500; margin: 16px 0; line-height: 24px; }
    code { display: inline-flex; justify-self: start; }
}

.row, .col, .row-fill, .col-fill, body { display: flex !important; }
.col, .col-fill, body { flex-direction: column; }
.row, .row-fill { flex-direction: row; }
.row-fill, .col-fill, body { flex: 1; overflow: hidden; }

.center { align-items: center; justify-content: center; }
.align-center { text-align: center; }
.align-left { text-align: left; align-self: flex-start; }
.align-right { text-align: right; align-self: flex-end; }

.scroll-x { overflow-x: overlay;}
.scroll-y { overflow-y: overlay;}

.p-0 { padding: 0px !important; }
.pl-0, .px-0 { padding-left: 0px !important; }
.pr-0, .px-0 { padding-right: 0px !important; }
.pl-1, .pl-xs, .px-1, .px-xs { padding-left: 4px !important; }
.pr-1, .pr-xs, .px-1, .px-xs { padding-right: 4px !important; }
.pl-2, .pl-sm, .px-2, .px-sm { padding-left: 8px !important; }
.pr-2, .pr-sm, .px-2, .px-sm { padding-right: 8px !important; }
.pl-3, .pl-md, .px-3, .px-md { padding-left: 16px !important; }
.pr-3, .pr-md, .px-3, .px-md { padding-right: 16px !important; }
.pl-4, .pl-lg, .px-4, .px-lg { padding-left: 32px !important; }
.pr-4, .pr-lg, .px-4, .px-lg { padding-right: 32px !important; }
.pl-5, .pl-xl, .px-5, .px-xl { padding-left: 64px !important; }
.pr-5, .pr-xl, .px-5, .px-xl { padding-right: 64px !important; }

.pt-0, .py-0 { padding-top: 0px !important; }
.pb-0, .py-0 { padding-bottom: 0px !important; }
.pt-1, .pt-xs, .py-1, .py-xs { padding-top: 4px !important; }
.pb-1, .pb-xs, .py-1, .py-xs { padding-bottom: 4px !important; }
.pt-2, .pt-sm, .py-2, .py-sm { padding-top: 8px !important; }
.pb-2, .pb-sm, .py-2, .py-sm { padding-bottom: 8px !important; }
.pt-3, .pt-md, .py-3, .py-md { padding-top: 16px !important; }
.pb-3, .pb-md, .py-3, .py-md { padding-bottom: 16px !important; }
.pt-4, .pt-lg, .py-4, .py-lg { padding-top: 32px !important; }
.pb-4, .pb-lg, .py-4, .py-lg { padding-bottom: 32px !important; }
.pt-5, .pt-xl, .py-5, .py-xl { padding-top: 48px !important; }
.pb-6, .pb-xl, .py-5, .py-xl { padding-bottom: 48px !important; }

.px-auto, .p-auto { padding-left: 32px !important; padding-right: 32px !important; }
.py-auto, .p-auto { padding-top: 32px !important; padding-bottom: 32px !important; }
@media (max-width: 599px) {
    .px-auto, .p-auto { padding-left: 16px !important; padding-right: 16px !important; }
    .py-auto, .p-auto { padding-top: 16px !important; padding-bottom: 16px !important; }
}
@media (min-width: 960px) {
    .px-auto, .p-auto { padding-left: 48px !important; padding-right: 48px !important; }
    .py-auto, .p-auto { padding-top: 48px !important; padding-bottom: 48px !important; }
}

.m-0 { margin: 0px !important; }
.mt-0, .my-0 { margin-top: 0 !important; }
.mb-0, .my-0 { margin-bottom: 0 !important; }
.mt-xs, .my-xs { margin-top: 2px !important; }
.mb-xs, .my-xs { margin-bottom: 2px !important; }
.mt-sm, .my-sm { margin-top: 4px !important; }
.mb-sm, .my-sm { margin-bottom: 4px !important; }
.mt-md, .my-md { margin-top: 8px !important; }
.mb-md, .my-md { margin-bottom: 8px !important; }
.mt-lg, .my-lg { margin-top: 16px !important; }
.mb-lg, .my-lg { margin-bottom: 16px !important; }
.mt-xl, .my-xl { margin-top: 32px !important; }
.mb-xl, .my-xl { margin-bottom: 32px !important; }

.font-xs, .font-xs-500 { font-size: x-small; }
.font-sm, .font-sm-500 { font-size: small; }
.font-md, .font-md-500 { font-size: medium; }
.font-lg, .font-lg-500 { font-size: large; }
.font-xl, .font-xl-500 { font-size: x-large; }

.font-xs-500, .font-sm-500, .font-md-500, .font-lg-500, .font-xl-500 { font-weight: 500; }

.anchor { color: mat-color($mat-ex-accent); font-weight: 500; text-decoration: none;}
.anchor:hover { text-decoration: underline;}

.form-dialog { width: 50vw; max-height: 80vh; min-width: 280px;}
.form-dialog .mat-dialog-container{ padding: 0; display: flex; flex-direction: column; overflow: hidden;}

.menu-dialog { width: 280px; line-height: initial; overflow: hidden !important; }
.menu-dialog .mat-menu-content { padding: 0 !important; display: flex; overflow: hidden; }

.mat-overline { font: 400 10px/16px Roboto, "Helvetica Neue", sans-serif; letter-spacing: 0.5px;}

.content-padding { padding-left: 32px; padding-right: 32px; }
@media (max-width: 599px) {
    .content-padding { padding-left: 16px; padding-right: 16px; }
}
@media (min-width: 960px) {
    .content-padding { padding-left: 48px; padding-right: 48px; }
}

$background: map-get($mat-ex-theme, background);
.mat-icon-button:hover {
    background-color: mat-color($background, hover);
  }